@charset 'UTF-8';

@import 'variables';
@import 'mixins';

.stats-wrapper {
  @include wrapper-props;
  grid-area: stats;
  padding: 1em;
  .stats-table {
    display: flex;
    justify-content: space-between;
  }
}
