@charset "UTF-8";

@import 'variables';
@import 'mixins';

.stats-wrapper {
  @include wrapper-props;
  grid-area: stats;
  padding: 1em;
  .stats-main-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .stats-flag-img{
      width: 1.5em;
      height: 1em;
    }
  }
  .stats-table {
    display: flex;
    justify-content: space-between;
    .stats-title, .stats-data-title{
      margin: 1em 0;
    }
    .stats-data{
      margin: 0 .5em;
    }
  }
}
